<%- include( "partials/header" ) -%> 
<h1>Compose</h1>

<form action="/" class="f" method="POST">
    <label for="title">title</label>
    <br>
    <input type="text" name="title" id=""   size="148"/>
<br>
    <label for="post">post</label>
    <br>
    <textarea  name="post" rows="4" cols="150">
       
        </textarea>
        <br>

<button class="btn btn-primary" type="submit">Publish</button>
</form>

<%- include( "partials/footer" ) -%> 