
 <%- include( "partials/header" ) -%> 
 <h1>Contact us</h1>
 <div class="text-center profile">
    <a href="https://media-exp1.licdn.com/dms/image/C5103AQHeKITtqrgn-g/profile-displayphoto-shrink_200_200/0?e=1596672000&amp;v=beta&amp;t=rizq5EvusLprage0IKZizSU_tlorL3QtCFRSgA0jUCc" target="_blank">
    <img src="images/hasnaincircle-crop.png" alt="no image found">
  </a>
    <h2>Hello.</h2>
    <p class="intro">
     
    </p>
 
 <p id="start"><%= contactdata%></p> 

 <a class="footer-link" href="https://www.facebook.com" target="_blank">
    <img class="profile" src="images/facebook32.png" alt="no image found" />
  </a>
  <a class="footer-link" href="https://www.linkedin.com/in/hasnainshaikh312/" target="_blank">
    <img class="profile" src="images/linkedin32.png" alt="no image found" />
  </a>
  <a class="footer-link" href="https://www.instagram.com/godelementrix/?r=nametag" target="_blank">
    <img
      class="profile"
      src="images/instagram-sketched32.png"
      alt="no image found"
    />
  </a>
  <a class="footer-link" href="mailto:hasnains312@gmail.com" target="_blank">
    <img class="profile" src="images/email.png" alt="no image found" />
  </a>
</div>
 <%- include( "partials/footer" ) -%> 